.App {
  text-align: center;
}
body {
  background-color: #ebebeb;
}
/* .MuiTypography-root {
  
} */
.TypographyTitle {
  color: #000;
}
.BasicSelect{
  display:flex;
  justify-Content:center;
}
.gridBorder2 {
  padding: 1%;
  margin: 1%;
  text-align: center;
  justify-content: center; 
  align-items: center; 
  background-color: #e6f8fb;
  border-radius: 5px;
  background: linear-gradient(360deg, #f6faf2, #ffffff); 
  box-shadow: rgba(47, 142, 197, 0.2) 0px 5px 20px 0px;
}
.selectbox {
  border: 2px solid #03c4ff;
  background-color: #faf1df;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #f8f2d5;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
